<launch>

  <node pkg="aue_finals" type="ObstacleAvoid_real.py" name="wander" />
  <node pkg="aue_finals" type="line_follower_real.py" name="followline" />
  <node pkg="aue_finals" type="stop_sign_real.py" name="stopsign" />
  <node name="republish" type="republish" pkg="image_transport" output="screen" 	args="compressed in:=/camera/image raw out:=/camera/image" />
  <node pkg="aue_finals" type="camera_info.py" name="camera_info_trial" />
  <include file="$(find aue_finals)/launch/apriltag_follower_real.launch" /> 

</launch>